doctype html
html
    head
        title ProjectDetailsApp | #{project}
        link(rel="stylesheet" href="css/styles.css")
        link(rel="shortcut icon" type='imgage/png'  href="img/favicon.png")

    body
        h1= project
        h3= user