/********************************************************************************/
/*  GLOBAL STYLES  */
/********************************************************************************/
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #ffffff;
}

.main {
    width: 95%;
    margin: 0px auto;
}

/********************************************************************************/
/*  PROJECTS PAGE  */
/********************************************************************************/

.cards_container {

}

.cards_container .card {
    background-color: #e9f3fb;
    margin: 0px 0px 10px;
}

.cards_container .card .details, .technical_details {
    padding: 0px 20px 2px;
}

.cards_container .card .details h1, h3, h4 {
    margin: 5px;
    color: #4d4d4d;
}

.cards_container .card .details h1 {
    display: inline-block;
    background-color: #2379be;
    color: #ffffff;
    padding: 5px 20px;
}

.cards_container .card .technical_details p {
    font-size: 0.9em;
    margin: 3px;
    color: #4d4d4d;
}

.cards_container .card span.label {
    font-weight: 500;
}

.cards_container .card span.data {
    font-weight: 700;
}